.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

logs/*
!logs/.gitkeep

Input/*.h5
Input/*.csv

checkpoints/*
!checkpoints/.gitkeep

outputs/*
!outputs/.gitkeep

# Internal documentation
ARCHITECTURE.md
